/*-- scss:defaults --*/

// background colors 2A211C
$body-bg: #1e2c2a;
$navbar-bg: #1e2c2a;

// text colors
// 032016
$body-color:  #fcfaf7;
$link-color: #fcfaf7;

// navbar colors
$navbar-fg: #65958f;
// Text Heading colors
h1, h2, h3, h4, h5, h1.title, .title.h1 {
  color: #65958f;
}

// Fonts
$headings-font-family:   'Charter';
$font-family-base:  'Inclusive Sans';




