/*-- scss:defaults --*/

// background colors 
$body-bg: #fcfaf7;
$navbar-bg: #fcfaf7;

// text colors
// 032016
$body-color:  #374145;
$link-color: #75AADB;

// navbar colors
$navbar-fg: #65958f;
// Text Heading colors
h1, h2, h3, h4, h5, h1.title, .title.h1 {
  color: #65958f;
}

// Fonts
$headings-font-family:   'Charter', 'Source Sans Pro', 'Roboto';
$font-family-base:  'Inclusive Sans', 'Source Sans Pro', 'Roboto', 'Merriweather', 'Roboto Regular', 'Cabin Regular';




